.dashboard_root {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;

  .header {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .todo-input {
    width: 85vw
  }

  .field-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem;

    .btn {
      margin-left: 1rem;
      height: 8vh;
    }
  }

  .subtask {
    margin-right: 1rem;
    cursor: pointer;
  }

  .todo-list {
    text-align: left;
    margin: 2rem 0rem 0rem 2rem;
    /* width: 87vw; */
  }

  .list {
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .list-text {
    min-width: 35vw;
    max-width: 35vw;
    /* min-height: 10vh; */
    margin: 1rem 1rem;
    max-height: 20vh;
    text-overflow: ellipsis;
    display: inline-block;
    /* text-align: center; */
  }

  .doneIcon {
    color: white;
  }

}

.list-item {
  color: whitesmoke;
}

.subtask-field {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 1rem 0rem;
  min-width: 45vw;
  max-width: 85vw;
}

.subtask-input {
  min-width: 40vw !important;
  max-width: 80vw;
  margin-left: 1rem;
}

.addIcon {
  margin-left: 2rem;
  cursor: pointer;
}

.logout {
  font-size: 1.25rem;

  .lg {
    cursor: pointer;
    color: rgb(16, 232, 239);
  }
}

.drop_icon {
  cursor: pointer;
}

#dashboard {
  .MuiFormLabel-root {
    color: whitesmoke;
  }

  .MuiInputBase-input.MuiOutlinedInput-input {
    color: whitesmoke;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: whitesmoke;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: whitesmoke;
  }
}